#commentForm {
    margin-bottom: 20px;
}

#commentText {
    resize: none;
}

#commentDisplay {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-height: 250px;
    overflow-y: auto;
}

#commentDisplay .comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}

#commentDisplay .comment:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.review-topic i {
    font-size: 65%;
    margin-bottom: auto;
    margin-top: auto;
}

.review-topic p {
    opacity: 80%;
}


/*
FIXME: This seems like bad practice and that it might be better
to have a shared class that didn't have this style and then have a specific search css to add this style.

Maybe have like...card-focus class or something
*/
/* Undo the hover in the search */
.card:hover {
    transform: scale(1);
    box-shadow: none;
    cursor: pointer;
}





.see-more-less {
    opacity: 70%;
    transition: 0.5s ease;
}
.see-more-less:hover {
    opacity: 100%;
    transition: 0.5s ease;
}
.not-visible {
    display: none;
}





/* Loader css */
.loader-container {
    width: 200px; /* Set the width and height as per your design */
    height: 100px;
    position: relative;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #3498db; /* Blue border for animation */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite; /* Apply the animation to the loader */
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }






/* CUSTOM DIVIDER */
.custom-divider {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
  }

  .custom-divider::before,
  .custom-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the style and color of the divider line as needed */
  }